<h3>Edit game information</h3>
<form {{action 'updateGame' on='submit'}} >
  {{input type='date' placeholder='Game Date' value=game.date required='true'}}
  {{input placeholder='Home Team' value=game.home required='true'}}
  {{input placeholder='Away Team' value=game.away required='true'}}
  <button class='btn' type='submit'>Save</button>
</form>
