<div class='footer'>
<p>©2017 Brad Leyden</p>
<p>Photo credit:
<a href="https://unsplash.com/@jtkyber1?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer">Joey Kyber</a>
</p>
</div>
