{{#link-to 'game' game}}
  <li>{{game.date}} {{game.away}} @ {{game.home}}</li>
{{/link-to}}

<button {{action 'deleteGame'}}>Delete Game</button>
{{#link-to 'edit-game' game}}
  <button>Edit Game Info</button>
{{/link-to}}
