{{#link-to 'plateappearance-edit' plateappearance.game.id plateappearance.id}}
  #{{plateappearance.batter}} - {{plateappearance.outcome}}
{{/link-to}}

<button {{action 'deletePlateappearance'}}>X</button>

{{outlet}}
