@import 'bootstrap';
@import 'bootstrap/theme';
@import 'pikaday-theme';

svg {
  width: 600px;
  height: auto;
  filter: url(#shadow);
  margin-top: -170px;
  margin-bottom: 120px;
  margin-left: 300px;
}

.player,
.hr {
  fill: #600707;
}

.hr:hover,
.hr-true,
.player:hover,
.player-true {
  fill: #dF4F4F;
}

.player-true {
  stroke-width: 40px;
  stroke: #dF4F4F;
}

.player:hover {
  filter: url(#shadow);
}

.base {
  stroke: #999999;
  stroke-width: 2px;
  fill: #FFFFFF;
}

.base:hover,
.base-true {
  fill: #ffc700;
}

.num {
  pointer-events: none;
}

body {
  background-color: #F2F2F2;
}

p, span {
  font-family: 'Lato';
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Oswald';
  color: #273f33;
}

.logo {
  margin-top: -31px;
  margin-left: -295px;
  height: 220px;
  width: auto;
}

.jumbo-logo {
  margin-top: -30px;
  height: 300px;
  width: auto;
}

.alert {
  position: fix;
  top: 0;
  margin-left: -100px;
}

.banner {
  z-index: 1;
  background-color: #273f33;
  height: 160px;
  margin-left: 130px;
  border-radius: 0 0 30px 0;
}

.ember-text-field {
  display: inline;
}

.longer-field {
  width: 300px;
  display: inline;
}

table {
  width: 100%;
  border: 2px solid #273f33;
  margin-bottom: 100px;
}

.changePageSize {
  margin-bottom: 150px;
}

th,
tr,
td {
  text-align: center;
  border: 2px solid #273f33;
  padding: 15px;
}

td {
  font-size: 32px;
  color: #273f33;
  font-family: 'Oswald';
}

.RHE {
  width: 50px;
  background-color: #e0d0b2;
}

.table-header {
  color: #FFFFFF;
  background-color: #273f33;
}

.pabox {
  text-align: center;
  width: 70px;
  height: 70px;
  display:inline-block;
}

.pabox a:link,
.pabox a:visited {
  color: black;
}

.plateappearance-cell {
  height: 123px;
  text-align: left;
}

.plateappearance-table {
  margin-bottom: 97px;
  margin-top: 20px;
}

.inning-column {
  color: #FFFFFF;
  background-color: #273f33;
  width: 50px;
}

.score {
  background-color: #e0d0b2;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 40px;
  border: 2px solid black;
  box-shadow: 3px 3px #888888;
}

.score:hover {
  box-shadow: 2px 2px #888888;
}

.runs {
  background-color: #e8ffdd;
}

.outs {
  border: 4px solid #ad1b1b;
}

.pa-input {
  display: inline;
  width: 60px;
  margin-right: 20px;
}

.pa-edit-input {
  display: inline;
  width: 60px;
  margin: 5px;
}

.guide-img {
  width: 40%;
}

.guide {
  margin-bottom: 150px;
}

.paragraph-break {
  text-align: center;
  font-size: 28px;
  color: #273f33;
}

.footer {
  margin-left: -20px;
  color: white;
  width: 100%;
  background-color: #273f33;
  position: fixed;
  bottom: 0;
  padding: 20px;
  text-align: left;
  z-index: 3;
}

.newPA {
  border-radius: 0 0 0 15px;
  position: fixed;
  bottom: -10px;
  width: 90%;
  margin: 10px 0;
  padding: 30px;
  color: white;
  background-color: #273f33;
  z-index: 4;
}

.btn {
  color: #273f33;
  border: none;
  margin: 5px 0;
}

.delete-pa {
  background-color: #edb1af;
  border-radius: 7px;
  position: relative;
  bottom: 0;
  font-size: 14px;
  width: 50%;
  height: auto;
  margin: 10px 10px 25px 10px;
  padding: 0;
}

.go-up {
  font-size: 30px;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 60px;
  bottom: 20px;
  z-index: 5;
}

.pa-select {
  margin-right: 20px;
}

.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a:visited {
  background-color: #273f33;
  font-family: 'Oswald';
  margin-top: 105px;
  font-size: 22px;
  color: white;
}

.navbar .navbar-nav > li > a:hover {
  background-color: #273f33;
  color: #e0d0b2;
}

.jumbo-container {

}

.sign-in-container,
.sign-up-container {
  position: fixed;
  right: 15px;
  top: -30px;
  background-color: #273f33;
  padding: 200px 50px 50px 50px;
  border-radius: 0 0 20px 20px;
}

.jumbotron-billboard .img {
  margin-bottom: 0px;
  margin-top: -138px;
  opacity: 0.8;
  color: #fff;
  background: #000 url("https://raw.githubusercontent.com/bradleyden/fieldr-front-end/master/jumbotron.jpg") center center;
  width: 100%;
  height: 130%;
  background-size: cover;
  overflow: hidden;
  position:absolute;
  top:0;left:0;
  z-index: 0;
}

td {
  font-size: 30px;
}

.jumbotron h2,
.jumbotron p,
.auth-header {
  color: white;
}

.edit-back {
  margin-top: -800px;
}
