<h2>Are you sure you want to delete this game?</h2>

<h4>All data associated with it will be deleted as well.</h4>

{{#link-to 'game' model}}<button class='btn'>No, go back!</button>{{/link-to}}

<button class='btn' {{action 'deleteGame' model}}>Yes, I am sure.</button>
