<div class='guide'>
<h1>Using Fieldr</h1>

<h2>1</h2>
<img class='guide-img' src='https://raw.githubusercontent.com/bradleyden/fieldr-front-end/master/FieldrGuide/guide1.png'>
<p>To start, create a game by filling in a home and away team and selecting a date as shown. Once the game has been created, it will appear in the table. Click the date to go to see the details of the game.</p>
<br>
<h2>2</h2>
<img class='guide-img' src='https://raw.githubusercontent.com/bradleyden/fieldr-front-end/master/FieldrGuide/guide2.png'>
<p>On the game page, use the form at the bottom of the page to add a plate appearance. Provide all information, and the plate appearance will appear in the table as shown below. Runs are indicated by a green circle, and outs are indicated by a red outline.</p>
<br>
<img class='guide-img' src='https://raw.githubusercontent.com/bradleyden/fieldr-front-end/master/FieldrGuide/guide3.png'>
<p>Click the 'x' below the plate appearance icon to delete the plate appearance. Click the circle to view the details and edit the plate appeareance.</p>
<br>
<h2>3</h2>
<img class='guide-img' src='https://raw.githubusercontent.com/bradleyden/fieldr-front-end/master/FieldrGuide/guide4.png'>
<p>From this page, you can edit all of the details initially provided when the plate appearance was created. You can also use the field graphic to mark which defensive players were involved in the play and the location of baserunners at the end of the plate appearance. Click save to save the data to be viewed at a later time.</p>
<br><br>

<p class='paragraph-break'>⚾ &nbsp; &nbsp; &nbsp; ⚾ &nbsp; &nbsp; &nbsp; ⚾</p>

<br><br>
<h1>Scoring Basics</h1>
<p>Here's a quick guide to get you started with how to start scoring a game using Fieldr:</p>
<h2>Inning</h2>
<p>Enter the inning that the plate appearance occured, keeping in mind whether it is the top or bottom. The away team bats in the top of the inning, the home team bats in the bottom.</p>

<h2>Pitcher/Batter Numbers</h2>
<p>Enter the jersey number of the pitcher and batter.</p>

<h2>Batter Result</h2>
<h3>No AB</h3>
<p>A batter does not get an official AB (At Bat) in the event of a walk or hit by pitch, or if the third out of the inning was recorded before the completion of the plate appearance, such as in the case of a baserunner being caught stealing.</p>
<h3>Hit</h3>
<p>A batter gets a hit when they reach base safely without the aid of a defensive error. A batter is still credited with a hit if they get out on the bases while unsuccessfully trying to advance beyond first base.</p>
<h3>Out</h3>
<p>A batter gets an out if they strike out, ground out, or fly/line/pop out. A batter is still given an out if they reach base safely due to a defensive error or in the event of a fielder's choice (where another basrunner is forced out on the play, but the batter reaches safely). As such, an out recorded against a batter does not necessarily result in an out against the team.</p>

<h2>Runs</h2>
<p>A run is recorded for every baserunner to safely cross home as a result of the plate appearance.</p>

<h2>Errors</h2>
<p>An error is recorded when a defender makes a mistake, such as dropping the ball or missing a throw, that results in a runner being safe when they should be out.</p>

<h2>Outs</h2>
<p>This field is to record outs that are recorded against the home team during and as a result of the plate appearance, including baserunners being caught on the basepaths before the conclusion of the plate appearance.</p>
</div>
