{{#link-to 'game' model.game}}<button class='btn'><i class="fa fa-arrow-left" aria-hidden="true"></i></button>{{/link-to}}
<br><br>
{{edit-plateappearance-form plateappearance=model editPlateappearance='editPlateappearance'}}
