<br><br><br>
{{edit-plateappearance-form plateappearance=model editPlateappearance='editPlateappearance'}}
{{#link-to 'game' model.game.id}}<button class='edit-back btn'><i class="fa fa-arrow-left" aria-hidden="true"></i></button>{{/link-to}}
